.btn {
  font-size: rem(16px);
  font-weight: bold;
  padding: rem(20px) rem(40px);
  text-transform: uppercase;
  border-radius: rem(100px);
  line-height: 1;
  text-decoration: none;
  display: inline-block;
  border: none;

  color: $darkGrey;
  background: $yellow;

  &:hover {
    background: $liteYellow;
  }

  &--theme--transparent {
    background: transparent;
    color: #fff;
    text-transform: none;

    &:hover {
      background: transparent;
      color: #000;
    }
  }
}

.btn--theme--yellow{
  &--theme-yellow {
      background: white;
      color: #000000;
      font-weight: 800;
  }

  @include tablets{
      font-size: 18px;
      padding: 20px 40px;
  }

  @include phones {
      font-size: 18px;
      padding: 20px 36px;
  }
  &:hover {
      color: black;
      background: #e9cb46;
  }
}


.btn--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;

      &:hover {
        background: transparent;
        color: #000;
  }
}
