.fixed-menu {
  position: fixed;
  top: 20%;
  right: 3%;
  z-index: $z-fixed-menu;
}

.fixed-menu__item {
  margin-bottom: rem(6px);

  &--active {
    .fixed-menu__link {
      border-color: #fff;
    }
  }
  @include tablets {
    display: none;
  }
}

.fixed-menu__link {
  width: rem(18px);
  height: rem(18px);
  border-radius: 50%;
  border: rem(1px) solid transparent;
  display: block;
  position: relative;

  &:before {
    content: "";
    display: block;
    width: rem(8px);
    height: rem(8px);
    border-radius: 50%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}