.form {
  display: flex;
  }

  .form-title {
    color: #fff;
    margin-top: 60px;
  }

  .section-form {
    background: url("/img/decor/form-bg.png") center center / cover no-repeat;
    background-color: $darkGrey;
    color: #fff;
  }

  .form__col {
    flex: 1;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .form__row {
    display: flex;
    margin-bottom: 18px;
  }

  .form__block {
    flex: 1;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }

  .form__input {
    width: 100%;
    border: none;
    padding: 18px 12px;
    //border: solid 3px #dee2bd
    border: solid 3px transparent;
    border-radius: 4px;

    &--textarea {
      height: 168px;
      width: 450px;
      resize: none;
      margin-bottom: 18px;
      border-radius: 4px;
    }

    &:focus {
      border-color: $yellow;
      outline: none;
    }
  }

  .form__controls {
    display: flex;
    flex-wrap: wrap;
  }