.container 
.form {
  display: flex;
  flex-direction: column;

  @include tablets {
    padding: 0 19%;
  }
  }

  .form-title {
    color: #fff;
    margin-top: rem(60px);
  }

  .section-form {
    background: url("../../img/decor/form-bg.png") center center / cover no-repeat;
    background-size: 100%;
    color: #fff;
    height: 100vh;
  }

  .form__col {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
      margin-right: 0;
    }

    @include tablets {
      margin-right: 0;
    }
  }

  .form__row {
    display: flex;
    margin-bottom: rem(18px);
  }

  .form__block {
    flex: 1;
    margin-right: rem(20px);
    &:last-child {
      margin-right: 0;
    }
  }

  .form__input {
    width: 100%;
    border: none;
    padding: rem(18px) rem(12px);
    //border: solid rem(3px) #dee2bd
    border: solid rem(3px) transparent;
    border-radius: rem(4px);

    &--textarea {
      height: rem(168px);
      width: rem(450px);
      resize: none;
      margin-bottom: rem(18px);
      border-radius: rem(4px);
    }

    &:focus {
      border-color: $yellow;
      outline: none;
    }
  }

  .form__controls {
    display: flex;
    flex-wrap: wrap;
  }

  .form__btns {
    display: flex;
    justify-content: center;
  }