.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(24px);
  margin-top: rem(106px);

  @include tablets {
  font-size: 40px;
  }

  @include phones {
    font-size: 40px;
  }
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: rem(48px);
  color: #666666;

  @include tablets {
    padding-bottom: 49px;
}

@include phones {
    padding: 0;
    margin-bottom: 53px;
    color: black;
}
}

.container-first{
    display: flex;
    flex-direction: column;
}