.headline {
  text-align: center;
}

.headline__title {
  margin-bottom: rem(25px);
  margin-top: rem(106px);
}

.headline__subtitle {
  padding: 0 26%;
  margin-bottom: rem(48px);
  color: #666666;
}

.container-first{
    display: flex;
    flex-direction: column;
}