.hero {
  display: flex;
  justify-content: space-between;
  background: url("/img/decor/hero.png") center center / cover no-repeat;
  background-color: $darkGrey;
  color: #fff;
  padding-bottom: rem(45px);
  height: 100vh;
  min-height: 650px;
}

.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px 0 60px;
}

.hero__main-title {
  font-size: 48px;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.hero__title-desc {
  font-size: 21px;
  margin-bottom: 39px;
  padding-right: 10%;
}

.hero__title-section {
  width: 46%;
}