.interactive-avatar {
  height: 74px;
  width: 74px;
  border: 6px solid transparent;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin-right: 6px;
}
.interactive-avatar:hover {
  border-color: yellow;
}
.interactive-avatar--active {
  border-color: yellow;
}

.interactive-avatar__link {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: block;
}

.interactive-avatar__img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}