html {
  font-size: $baseFontSize;

  @include tablets {
    font-size: $baseFontSize - 1px;
  }

  @include phones {
    font-size: $baseFontSize - 2px;
  }
}

body,
html {
	height: 100%;
    margin: 0;
}

body {
	font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	color: #666666;
	;
}

.logo {
  flex-shrink: 0;

  &__img {
    width: rem(56px);
    height: rem(40px);
		color: white;
  }
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;

	li {
		list-style: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: normal;
}

p {
	margin-top: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

.logo {
	flex-shrink: 0;

	@include phones {
    margin-top: rem(12px);
}

@include tablets {
	margin-top: rem(12px);
}
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s all;
}

/*
img {
  display: block;
  max-width: 100%;
  max-height: 100%;
	
}
*/

.wrapper {
		position: relative;
		width: 100%;
		min-height: 100%;
		overflow: hidden;
}


.container { 
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: $containerWidth;
	position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
	color: white;
}


.contacts {
    float: right;
}


.menu {
    margin-left: rem(46px);
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: rem(26px);
    line-height: rem(36px);
}

footer {
	position: relative;
	width: 100%;
}