body,
html {
	height: 100%;
}

body {
	font-size: $baseFontSize;
	font-family: "Alegreya Sans", Arial, Helvetica, sans-serif;
	line-height: 1.42;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	color: #666666;
	;
}

button {
	border: 0;
	cursor: pointer;
}

* {
	box-sizing: border-box;
}

ul {
	padding: 0;
	margin: 0;
	list-style: none;
	li {
		list-style: none;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin-top: 0;
	font-weight: normal;
}

p {
	margin-top: 0;
	padding: 0;
}

button {
	cursor: pointer;
}

a {
	color: inherit;
	cursor: pointer;
	text-decoration: none;
	transition: 0.3s all;
}

img {
	display: block;
	max-width: 100%;
	
}

.wrapper {
		position: relative;
		width: 100%;
		min-width: $containerWidth + 20px;
		min-height: 100%;
		overflow: hidden;
}


.container { 
  margin: 0 auto;
  width: 95%;
  height: 100%;
  max-width: $containerWidth;
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.logo,.socials,.socials__link,.menu, .menu__item,.contacts {
  display: flex;
  flex-direction: column;
}

.logo.logo__img {
    float: left;
}

.contacts {
    float: right;
}


.menu {
    margin-left: 79px;
    display: flex;
    justify-content:flex-start;
    align-items:center;
}

.contacts__phone {
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 35px;
}

footer {
	position: relative;
	width: 100%;
}