$containerWidth: 940px;
$baseFontSize: 18px;

@import "media";

//breakpoints
$tablets: 768px;
$phones: 480px;

//colors
$yellow: #FFD517;
$liteYellow: #FEDB3F;
$darkGrey: #292929;
$grey: #F2F5F4;


//z-indexes
$z-fixed-menu: 100;

//normalize
// @import "https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css";

//setup
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100;300;400;500;700;800&display=swap");
@import "layout";

//components
@import "hero";
@import "header";
@import "features";
@import "feature";
@import "btn";
@import "section";
@import "headline";
@import "benefits";
@import "benefit";
@import "reviews";
@import "interactive-avatar";
@import "form";
@import "radio";
@import "footer";
@import "fixed-menu";
@import "hamburger";
@import "burger-menu";
@import "menu";
@import "phone-number";
@import "social";
@import "products";
@import "dropdown";
@import "team";
@import "modal";
@import "menu-acco";
@import "jquery.fancybox.min";