.products {
  background: #F8FAF9;
  color: #666666;

}

.products__container {
  display: flex;
  max-width: rem(948px);
}

.products__slider {
  position: relative;
  overflow: hidden;
  transition: .5s;

  @include tablets{
    overflow: hidden;
  }

  .bx-wrapper {
    border: 0;
    background: transparent;
    box-shadow: none;
  }

}

.products__arrow {
  background: url("../../img/icons/button-right.svg") center center no-repeat;
  // background: url('./img/icons/button-right.svg') center center no-repeat;

  background-size: contain;
  display: block;
  position: absolute;
  width: rem(14px);
  height: rem(28px);
  top: 45%;
  transform: translateY(-50%);
  z-index: 10;

  &--next {
    right: 0;

    @include tablets {
      right: 21%;
      top: 33%;
    }

    @include phones {
      right: 1%;
      top: 26%
    }
  }

  &--prev {
    left: 0;
    transform: rotate(180deg);

    @include tablets {
      left: 22%;
      top: 31%
    }

    @include phones {
      left: 1%;
      top: 24%;
    }
  }
}

.products__item {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.products__image {
  padding-top: rem(36px);

  @include phones {
    margin-bottom: 0;
    padding-top: rem(30px);
  }
}

.products__img {
  max-width: rem(420px);
  max-height: rem(538px);
  margin-left: rem(60px);
  margin-right: rem(58px);

  @include tablets {
    max-width: rem(312px);
    max-height: rem(420px);
    margin: 0;
  }

  @include phones {
    max-width: rem(209px);
    max-height: rem(294px);
  }
}

.products__content {
  margin-right: rem(38px);

  @include tablets {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 0;
  }
}

.products__param {
  max-width: rem(368px);

  @include tablets {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: rem(528px);
  }
}

.products__desc {
  line-height: rem(21.6px);
  margin-bottom: rem(28px);
  color: #666666;

  @include phones {
    padding: 0 rem(8px) 0 rem(8px);
    margin-bottom: rem(22px);
    font-size: rem(18px);
  }
}

.products__features {
  display: flex;
  margin-bottom: rem(24px);

  @include tablets {
    margin-bottom: rem(20px);
  }

  @include phones {
    justify-content: center;
    margin-bottom: rem(18px);
  }
}

.products__feature {
  margin-right: rem(52px);

  &:last-child {
    margin-right: 0;
  }
}

.products__feature-desc {
  font-weight: bold;
  color: #000;
}

.products__feature-title {
color: #666666;
}

.products__buy {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

    @include tablets {
    flex-wrap: nowrap;
  }
}

.products__price {
  font-size: rem(60px);
  font-weight: 300;
  line-height: rem(60px);
  color: #151515;
  margin-bottom: rem(10px);
  margin-right: rem(16px);

  @include tablets {
    margin-right: rem(38px);
  }

  @include phones {
    margin-right: rem(16px);
    font-size: rem(56px);
  }
}

.title--product {
  color: #292929;
}

.products__list {
  width: 100%;
  left: 0;
  transition: .6s;
  position: relative;
  display: flex;
  flex-shrink: 0;
}


.products__item {
  flex-shrink: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include tablets {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 96%;
  }
  @include phones{
    width: 98%;
    display: flex;
    flex-direction: column;
  }
  }