.reviews__display {
  background: #F8FAF9;
  padding: rem(50px) rem(44px) rem(34px);
}

.reviews__display-inner {
  display: flex;

  @include tablets {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }
}


.reviews__avatar {
  width: rem(252px);
  height: rem(264px);
  margin-right: rem(40px);

  @include tablets {
    width: rem(130px);
    height: rem(130px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}