.reviews__display {
  background: #F8FAF9;
  padding: rem(50px) rem(44px) rem(34px);
  margin-bottom: rem(14px);
}

.reviews__display-inner {
  display: flex;

  @include tablets{
    flex-direction: column;
    text-align: center;
    align-items: center;
}
}

.reviews__avatar {
  width: rem(254px);
  height: rem(260px);
  margin-right: rem(40px);

  @include tablets {
    width: rem(130px);
    height: rem(132px);
  }
}

.reviews__avatar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.reviews__content {
  flex: 1;
  margin-left: rem(40px);

  @include phones {
    padding-top: 0;
  }
}

.reviews__title {
  font-size: rem(32px);
  font-weight: bold;
  margin-bottom: rem(14px);
  color: #000;

  @include phones {
    font-size: rem(26px);
  }
}

.reviews__text {
  color: #666666;
  margin-bottom: rem(24px);

  @include tablets {
    margin-bottom: rem(20px);
  }
}

.reviews__author {
  font-size: rem(18px);
  font-weight: bold;
  color: #000;
}

.reviews__switcher {
  display: flex;
  justify-content: center;
}