.reviews__display {
  background: #F8FAF9;
  padding: 50px 44px 34px;
}

.reviews__display-inner {
  display: flex;
}

.reviews__avatar {
  width: 252px;
  height: 264px;
  margin-right: 40px;
}

.reviews__avatar-img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}