.reviews__display {
  background: #F8FAF9;
  padding: 50px 44px 34px;
}

.reviews__display-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.reviews__avatar {
  width: 254px;
  height: 260px;
  margin-right: 40px;
}

.reviews__avatar-img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 100%;
  width: 100%;
}